* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
}



/* cabeçalho */

.cabecalho {
    padding: 1em 0;
    background: linear-gradient(45deg, #ffd900, rgb(250, 195, 14));
    grid-row: 1/2;
}

.logo_site {
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    width: 20em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}


/* barra de navegação */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ecaf5e;
    border: #442703 solid 1px;
    grid-row: 2/3;
}

.menus_navbar {
    padding: 0.5em 3em;
    list-style: none;
}



/* conteudo principal */

main {
    grid-row: 3/4;
    background-color: white;
}

.post {
    padding: 2em 4em;
    background-color: rgba(128, 128, 128, 0.404);
    border: rgba(119, 119, 119, 0.315) solid 2px;
    border-radius: 0.5em;
}


/* rodapé */

.rodape {
    text-align: center;
    grid-row: 4/5;
    background-color: #442703;
    color: white;
    display: grid;
}

.rodape_informacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 0;
}

.rodape_informacoes_texto {
    list-style: none;
}



/* customizações extras */

.link {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}



/* hover */

.menus_navbar:hover {
    background-color: rgb(236, 185, 117)
}