<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/basehtml.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Spaghetti notes {% endblock %}</title>
</head>
<body>
    <header class="cabecalho">
        <a class="logo_site" href="{{ url_for('main.inicial') }}">
        <h1>Spaghetti notes</h1>
        <img src="{{ url_for('static', filename = 'imgs/placeholder.png') }}" width='50px'>
        </a>

        {% if usuario %}
            <a class="link" class="nome_cabecalho" href="{{ url_for('usuario.perfil') }}">
                <h1 class="nome_cabecalho">{{ usuario }}</h1>
            </a>
        {% endif %}
    </header>
    <nav>
        <ul class='navbar'>
            <li class = "menus_navbar"><a class = "link" href='{{ url_for("main.inicial") }}'>Pagina inicial</a></li>
            <li class = "menus_navbar"><a class = "link" href='{{ url_for("main.sobre") }}'>Sobre</a></li>

            {% if usuario %}
                <li class = "menus_navbar"><a class = "link" href='{{ url_for("usuario.perfil") }}'>Perfil</a></li>
            {% else %}
                <li class = "menus_navbar"><a class = "link" href='{{ url_for("usuario.login") }}'>Login</a></li>
            {% endif %}

            <li class = "menus_navbar"><a class = "link" href='{{ url_for("main.postar_receita") }}'>Postar receita</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="rodape">
        <section class="rodape_informacoes">
            <div>

                <h3>Creditos</h3>
                <ul>
                    <li class="rodape_informacoes_texto">Josué Neto</li>
                    <li class="rodape_informacoes_texto">Gerson Rocha</li>
                    <li class="rodape_informacoes_texto">Artur Souza</li>
                </ul>
                
            </div>
            <div>

                <h3>Github</h3>
                <ul>
                    <a class="link" href="https://github.com/JoshuaNeto-TheKnight" target="_blank"><li class="rodape_informacoes_texto">JoshuaNeto-TheKnight</li></a>
                    <a class="link" href="https://github.com/gersonrocha-es" target="_blank"><li class="rodape_informacoes_texto">gersonrocha-es</li></a>
                    <a class="link" href="https://github.com/Souzzaturr" target="_blank"><li class="rodape_informacoes_texto">Souzzaturr</li></a>
                </ul>

            </div>
            <div>

                <h3>Email</h3>
                <ul>
                    <a class="link" href="mailto:josuebeneditoneto@gmail.com" target="_blank"><li class="rodape_informacoes_texto">josuebeneditoneto@gmail.com</li></a>
                    <a class="link" href="mailto:gerson.rocha@academico.ifpb.edu.br" target="_blank"><li class="rodape_informacoes_texto">gerson.rocha@academico.ifpb.edu.br</li></a>
                    <a class="link" href="mailto:souzzaturr@gmail.com" target="_blank"><li class="rodape_informacoes_texto">souzzaturr@gmail.com</li></a>
                </ul>

            </div>
        </section>
        <p>© todos os direitos reservados</p>
    </footer>
</body>
</html>