<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/basehtml.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Spaghetti notes {% endblock %}</title>
</head>
<body>
    <header class="cabecalho">
        <a class="logo_site" href="">
        <h1>Spaghetti notes</h1>
        <img src="{{ url_for('static', filename = 'imgs/placeholder.png') }}" width='50px'>
        </a>
    </header>
    <nav>
        <ul class='navbar'>
            <li class = "menus_navbar"><a class = "link" href=''>Pagina inicial</a></li>
            <li class = "menus_navbar"><a class = "link" href='login.html'>Login</a></li>
            <li class = "menus_navbar"><a class = "link" href='sobre.html'>Sobre</a></li>
            <li class = "menus_navbar"><a class = "link" href=''>Postar receita</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="rodape">
        <section class="rodape_informacoes">
            <div class='bloco_creditos'>

                <h3>Creditos</h3>
                <ul>
                    <li class="rodape_informacoes_texto">Josué Neto</li>
                    <li class="rodape_informacoes_texto">Gerson Rocha</li>
                    <li class="rodape_informacoes_texto">Artur Souza</li>
                </ul>
                
            </div>
            <div class="bloco_contatos">

                <h3>Contatos</h3>
                <ul>
                    <li class="rodape_informacoes_texto">Whatsapp:</li>
                    <li class="rodape_informacoes_texto">Telefone:</li>
                    <li class="rodape_informacoes_texto">Email:</li>
                </ul>

            </div>
        </section>
        <p>© todos os direitos reservados</p>
    </footer>
</body>
</html>