{% extends 'base.html' %}

{% block title %} Spaghetti notes {% endblock %}

{% block content %}

    <h2 class="titulo_conteudo">Receitas</h2>

    <div class="blocos">
        {% if lista_posts %}
        
            {% for titulo, conteudo, usuario in lista_posts %}

                <a class = "link" href=" {{ url_for('main.receita', titulo = titulo, conteudo = conteudo, usuario = usuario) }}">
                    <div class="unidade_bloco">

                        <h3 class="titulo_conteudo">{{ titulo }}</h3>

                        <p class="conteudo">{{ conteudo[:48] + "..." }}</p>

                        <p>{{ usuario }}</p>

                    </div>
                </a>

            {% endfor %}
        
        {% else %}
        
        {% endif %}
    </div>

{% endblock %}