{% extends 'base.html' %}

{% block title %} {{ usuario }} - perfil{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

            {% for category, message in messages %}

                <div class="{{ category }}">
                    <p>{{ message }}</p>
                </div>
            
            {% endfor %}
        
        {% endif %}
    
    {% endwith %}

    
    <h2 class="titulo_conteudo">Suas receitas:</h2>

    {% if lista_posts %}
    
        <div class="blocos">
            {% for titulo, conteudo, usuario in lista_posts %}

                <a class = "link" href=" {{ url_for('main.receita', titulo = titulo, conteudo = conteudo, usuario = usuario) }}">
                    <div class="unidade_bloco">

                        <h3 class="titulo_conteudo">{{ titulo[:10] + "..." }}</h3>

                        <p class="conteudo">{{ conteudo[:48] + "..." }}</p>

                        <p>{{ usuario }}</p>

                    </div>
                </a>

            {% endfor %}

            
            {% else %}
            
            <div class="mensagem_central">
                <p class="conteudo"> Caramba {{ usuario }}, parece que você ainda não postou uma receita...</p>

                <p class="conteudo"> Gostaria de postar sua primeira receita?</p>

                <a href="{{ url_for('main.postar_receita') }}">
                    <button class="botao">Criar receita</button>
                </a>
            </div>
            
            {% endif %}
            
        </div>
        <div class="centralizar_bloco">
            <p class="conteudo"> Não conhece {{ usuario }}?</p>

            <p> Faça logout e entre com sua conta!!</p>

            <form action="{{ url_for('main.inicial') }}" method="post">
                <input type="hidden" name="from_perfil_user" value="logout">
                <button class="botao"> Logout </button>
            </form>
        </div>
            
{% endblock %}