{% extends 'base.html' %}

{% block title %} Postar receita {% endblock %}

{% block content %}


    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

            {% for category, message in messages %}

                <div class="{{ category }}">
                    <p>{{ message }}</p>
                </div>
            
            {% endfor %}
        
        {% endif %}
    
    {% endwith %}


    <section class="bloco_pagina">

        <h2 class="titulo_conteudo"> Crie uma receita </h2>

        <form action="{{ url_for('main.postar_receita') }}" method="post">

            <div class="form">
                <label class="etiqueta_input" for="titulo">Dê um título à sua receita:</label>
                <input class="entrada_dados" type="text" maxlength="20" name="titulo" id="titulo" placeholder="Escreva o título aqui..." required>
            </div>

            <div class="form">
                <label class="etiqueta_input" for="receita">Escreva sua receita abaixo:</label>
                <textarea class="area_de_texto" name="receita" id="receita" cols="80" rows="30" required>
                    
                </textarea>
            </div>

            <button class="botao"> Postar receita </button>

        </form>

        {% if not usuario %}
            <p class="conteudo"> Ainda não possui cadastro? Que tal realizar agora mesmo!</p>

            <p> Clique no botão abaixo!</p>

            <a href="{{ url_for('usuario.cadastro')}}">
                <button class="botao">Cadastro</button>
            </a>
        {% endif %}

    </section>


{% endblock %}