{% extends 'base.html' %}

{% block title %} {{ titulo }} {% endblock %}

{% block content %}

    <section class="bloco_pagina">
        <h2 class="titulo_conteudo"> {{ titulo }} </h2>

        {% for linha in conteudo.split("bR3@klIn3z") %} 
            <p>{{ linha }}</p>
        {% endfor %}

        <p class="credito_receitas"> Feito por <cite> {{ usuario_receita }}</cite></p>

        <p> Veja mais receitas em nossa página inicial!!</p>

        <a href="{{ url_for('main.inicial') }}">
            <button class="botao">Ver mais</button>
        </a>
    </section>

{% endblock %}