{% extends 'base.html' %}

{% block title %} sobre {% endblock %}

{% block content %}

    <section class="bloco_pagina">
        <h2 class="titulo_conteudo">Qual o objetivo do site?</h2>
        <p class="conteudo">Queremos poder arquivar receitas de comida que muitas vezes possam estar perdidas no oceano da internet, então e uma boa forma de documentar as receitas de usuarios que queiram descobrir algo novo ou encontrar uma maneira diferente de fazer as coisas</p>
        <h2 class="titulo_conteudo">Quais são os planos futuros?</h2>
        <p class="conteudo">No futuro, poderemos fazer esse site para que podemos compartilhar mais do que receitas de comidas, como passo-a-passo de artesanatos, reciclagem, moldagem e dentre outras habilidades</p>
    </section>

{% endblock %}